<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - AGENDAR</title>
    <!--  CSS PROPIO -->
    <link rel="stylesheet" href="~/css/site - Copia.css" asp-append-version="true" />
    <link href="~/css/cssinterno - copia.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.3-dist/css/bootstrap.min.css" asp-append-version="true" />


    <!-- SWEET ALERT  -->
@*        <link rel="stylesheet" href="~/css/sweetalert.css" asp-append-version="true" />*@
    
</head>
<body class="sb-nav-fixed">
    <!--INICIO NAV SUPERIOR-->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <a class="navbar-brand ps-3" href="index.html"><img src="~/lib/Imagenes/AgendArLogo.jpg" width="50%" alt=""></a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>

        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="fas fa-user-edit mr-2"></i> Perfil</a></li>
                    <li>

                        <hr class="dropdown-divider" />
                    </li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <li><button class="dropdown-item" href="#!"><i class="fas fa-sign-out-alt mr-2"></i> Cerrar Sesion</button></li>
                    </form>

                </ul>
            </li>
        </ul>
    </nav>
    <!--FIN NAV SUPERIOR-->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @* <div class="sb-sidenav-menu-heading">Core</div> *@


                        <div class="sb-sidenav-menu-heading">PRINCIPALES</div>
                        @if (User.IsInRole("AdministradorEmpresa"))
                        {
                            @* Boton para interactuar con las vista de Veterinario      *@
                            <a class="nav-link collapsed sb-sidenav-menu-heading" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePro" aria-expanded="false" aria-controls="collapsePro">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-doctor"></i></div>
                                Profesionales
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse " id="collapsePro" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link sb-sidenav-menu-heading " asp-area="" asp-controller="Profesionales" asp-action="Index">Listado</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed sb-sidenav-menu-heading " href="#" data-bs-toggle="collapse" data-bs-target="#collapseHor" aria-expanded="false" aria-controls="collapseHor">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-clock"></i></div>
                                Horarios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse " id="collapseHor" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link sb-sidenav-menu-heading " asp-area="" asp-controller="Horarios" asp-action="Index">Listado</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed sb-sidenav-menu-heading" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTur" aria-expanded="false" aria-controls="collapseTur">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-days"></i></div>
                                Turnos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse " id="collapseTur" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link sb-sidenav-menu-heading " asp-area="" asp-controller="Turnos" asp-action="Index">Listado</a>
                                </nav>
                            </div>
                        }

                        @if (User.IsInRole("SuperUsuario"))
                        {
                            @* Boton para interactuar con las vista de Cliente      *@
                            <a class="nav-link collapsed sb-sidenav-menu-heading" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCli" aria-expanded="false" aria-controls="collapseVet">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-building"></i></div>
                                Empresas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCli" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link sb-sidenav-menu-heading" asp-area="" asp-controller="Empresas" asp-action="Index">Listado</a>
                                </nav>
                            </div>
                        }
                      
                        <div class="sb-sidenav-menu-heading">Extras</div>
                        @if (User.IsInRole("SuperUsuario"))
                        {
                            <a class="nav-link sb-sidenav-menu-heading" asp-area="" asp-controller="Provincias" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-location-dot"></i></div>
                                Provincias
                            </a>
                            <a class="nav-link sb-sidenav-menu-heading" asp-area="" asp-controller="Localidades" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-location-dot"></i></div>
                                Localidades
                            </a>
                            @*   <a class="nav-link" href="~/Localidades/Index">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-location-dot"></i></div>
                        Localidades
                        </a>*@
                        }
                          @if (User.IsInRole("AdministradorEmpresa"))
                        {
                            <a class="nav-link sb-sidenav-menu-heading" asp-area="" asp-controller="Turnos" asp-action="ListadoTurnos">
                                <div class="sb-nav-link-icon"><i class="fa-regular fa-calendar-days"></i></div>
                                Listado de Turnos
                            </a>
                        }

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">
                        Usuario:
                        <span class="hidden-xs">@User.Identity.Name</span>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="container-fluid px-4">
                <main role="main" style="padding: 1.2rem 0.9rem !important;">
                    @RenderBody()
                </main>
            </div>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">
                            Copyright ©  - Tecnico Superior en Desarrollo de Software
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @RenderSection("Scripts", required: false)

    <!--BOOTSTRAP------>
    <script src="~/lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <!-- FONT AWESOME------>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!--JS VISTAS------>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*    <script src="~/js/mostrarcontraseña.js"></script>
    *@    <!--jquery------>
    <script src="~/lib/jquery - copia/jquery-3.7.0.min.js"></script>

    <!--Sweetalert------>
       @* <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>*@
    <script src="~/js/Sweetalert.js" asp-append-version="true"></script>
    <!--SWEET ALERT LINK (POR SI NO ANDA EL JS Y EL CSS)------>
    @* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@

</body>
</html>
