@model AGENDAR.Models.Turno

@{
    ViewData["Title"] = "IndexHomePublico";
}

@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}
<body class="imagenSoliitarTurno">

    <form>
        <input type="hidden" id="TurnoID" value="0" />
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class=" text-left mb-0">
                        <button class="btn text-left btn-link-red btn-block  botonDatos collapsed " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="bi bi-caret-down-square-fill"></i>    DATOS DE LA EMPRESA:
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body ">
                        <div class="row">
                            <div class="form-group col-md-4 ">
                                <label class="control-label font-weight-bold tituloinput">Provincia:</label>

                                @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control letrainput" })

                            </div>
                            <div class="form-group col-md-4 ">
                                <label class="control-label font-weight-bold tituloinput ">Localidad:</label>
                                @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control letrainput" })
                            </div>
                            <div class="form-group col-md-4 ">
                                <label class="control-label font-weight-bold tituloinput">Empresa:</label>
                                @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control letrainput" })
                            </div>
                        </div>
                        <div class="row">



                            <div class="form-group col-md-4 ">
                                <label class="control-label font-weight-bold tituloinput">Profesional:</label>
                                @Html.DropDownList("ProfesionalID", null, htmlAttributes: new { @class = "form-control letrainput " })

                            </div>

                            <div class="form-group col-md-4 ">
                                <label for="recipient-name" class="control-label font-weight-bold tituloinput ">Fecha:</label>
                                <input type="date" name="FechaTurno" class="form-control letrainput " autocomplete="off" required id="FechaTurno">
                            </div>

                            <div class="form-group col-md-4 ">
                                <label class="control-label font-weight-bold tituloinput">Hora:</label>
                                @Html.DropDownList("HorarioID", null, htmlAttributes: new { @class = "form-control letrainput " })

                            </div>

                        </div>
                    </div>
                </div>
            </div>

       
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class=" text-left mb-0">
                        <button class="btn text-left btn-link-red btn-block  botonDatos collapsed " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="bi bi-caret-down-square-fill"></i>    DATOS PERSONALES:
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse  " aria-labelledby="headingTwo" data-parent="#accordionExample">

                    <div class="card-body ">
                        <div class="row ">
                            <div class="form-group col-md-5  ">
                                <label for="recipient-name" class="control-label font-weight-bold tituloinput ">Nombre:</label>
                                <input type="text" class="form-control letrainput" autocomplete="off" required id="Nombre">
                            </div>
                            <div class="form-group col-md-5 ">
                                <label for="recipient-name" class="control-label font-weight-bold tituloinput ">Apellido:</label>
                                <input type="text" class="form-control letrainput" autocomplete="off" required id="Apellido">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="form-group col-md-5  ">
                                <label for="recipient-name" class="control-label font-weight-bold tituloinput ">Email:</label>
                                <input type="text" class="form-control letrainput" autocomplete="off" required id="Email">
                            </div>
                            <div class="form-group col-md-5  ">
                                <label for="recipient-name" class="control-label font-weight-bold tituloinput ">Telefono:</label>
                                <input type="number" class="form-control letrainput" autocomplete="off" required name="telefono" id="Telefono">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-CamposTurno"></p>
    </form>

    <div class="form-group">
        <button type="button" onclick="GuardarTurno()" class="btn btn-success"><i class="bi bi-folder-check"></i> Solicitar Turno</button>
    </div>

</body>



@section Scripts {

    <script src="~/js/Turno.js"></script>

}
